<head>
<link rel="stylesheet" type="text/css" href="/static/css/checkin.css" />
</head>
<html>
    <div id="container">
        <div id="page-head">
        {% block page-head %}
            <div id="logo">
                <img height="100" src="/static/img/logo.png" />
            </div>
        {% endblock page-head %}
        </div>

        <div id="page-body">
        {% block page-body %}
            <div id="create-user">
                <form action="" method="post">
                    {% csrf_token %}
                <table>
                    <tbody>
                        {{ user_form.as_table }}
                    </tbody>
                </table>
                <input type="submit" value="Submit"/>
                </form>
            </div>
        {% endblock page-body %}
        </div>

        <div id="page-footer">
        {% block page-footer %}
        {% endblock page-footer %}
        </div>
    </div>
</html>
